.btn {
    padding: 10px 20px;
    margin: 5px;
}

.btn-primary {
  background-color: #007bff;
}
.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
}
.btn-danger:hover {
  background-color: #a71d2a;
}

.btn-success {
  background-color: #28a745;
}
.btn-success:hover {
  background-color: #1e7e34;
}