.login-container {
    width: 400px;
    height: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.login-form {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    color: black;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #425cde;
    outline: none;
    box-shadow: 0 0 5px rgba(66, 92, 222, 0.3);
}

.login-container button {
    width: 100px;
    height: 40px;
    background-color: #425cde;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.login-container button:hover {
    background-color: #3649b1;
}