.product-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
}

.product-cart {
    width: 250;
    background-color: aliceblue;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-cart:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 2);
}

.product-info {
    text-align: center;
    padding: 15px;
    color: rgb(52, 46, 46);
}

.btn-add {
    background-color: #333;
    text-align: center;
    cursor: pointer;
}